@import "variables";

.container {
	//Container Stuff
	width: 300px;
	height: 40px;
	background-color: $grey;
}

.loading {
	//Loading Bar
	margin-top: $p;
	height: 100%;
	background: $grad;
	border-radius: $p/2;
}
